@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: whitesmoke;
}

@media (max-width: 800px) {
	#container {
		display: flex;
		flex-direction: column;
	}

	#container aside {
		width: auto;
	}

	#container main {
		align-items: center;
	}
}
